*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2{
    color: white;
    font-size: 20px;
}
.side-bar{
    position: fixed;
    background: #555252;
    width: 15vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-bar .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-bar li a{
    font-size: 15px;
    padding: 10px 50px;
    color:white;
    display: flex;
    align-items: center;
}
.side-bar li a:hover{
    background: white;
    color: black;
}
.container {
    position: absolute;
    right: 0;
    width: 85vw;
    height: auto;
    background: #f1f1f1;
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;   
    width: 85vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background: white;
    justify-content:center;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
    
}
 .container .header .nav .search{
    flex: 5;
 }
 .container .header .nav .search input{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
    outline: none;
    border-radius: 10px;
 }
 .container .header .nav .search button{
    border: none;
    background: none;
    font-weight: bold;
 }
.container .header .nav .user{
    flex: 1;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.btn{
    background: #555252;
    color:white;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover{
    background: #928c8c;
    color: white;
}
.profile{
    background: #f1f1f1;
    color: black;
    padding: 5px 10px;
    text-align: center;
}
.profile:hover{
    background: #8f8989;
    color: white;
}
.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}
.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
h2,h3{
    color: black;
}
.container .content .cards .card{
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    text-align: center;
    padding: 40px 30px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
}
.container .content .content2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.titles{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid rgb(146, 139, 139);
}
.container .content .content2 .recent-borders{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content2 .new-borders{
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
    display: flex;
    flex-direction: column;
}
table{
    padding: 20px;
}
td,th{
    text-align: left;
    padding: 10px;
}
@media only screen and (max-width:1050px) {
    .side-bar li{
        font-size: 18px;
    }
}
@media only screen and (max-width:740px) {
    .side-bar  li span {
        display: none;
        padding: 20px;
    }
    .side-bar .brand-name h1{
        display: none;
    }
}
i{
    color: white;
    font-weight: bold;
}

